* {
  box-sizing: border-box;
}

.quiz ul {
  list-style: none;
  padding: 0;
}

.quiz li {
  cursor: pointer;
  padding-top: 10px;
  /* padding-bottom: 5px; */
}

.container {
  height: 100%;
}

/* footer */
.question-circle p {
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.score-circle p {
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: clear;
  padding: 5px 10px;
  overflow: auto;
}

.question-circle,
.score-circle,
footer {
  display: none;
}

/* Body */
html,
body {
  background: url("thumb-1920-96952.jpg") repeat-y fixed;
  background-size: 100%;
  background-color: black;
  text-align: center;
}

/* Header */
.logo {
  float: left;
  height: 71px;
  width: 300px;
}

.summary p {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 40px;
  color: whitesmoke;
}

.left-side {
  float: left;
}

.right-side {
  color: white;
  font-size: 25px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
}

/* Font */
h1 {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  color: white;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 300;
  padding-top: 10px;
}

.start h1 {
  font-size: 43px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12%;
  text-transform: uppercase;
}

.quizStart {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.quizStart legend {
  color: white;
  font-size: 38px;
}

.quizStart li {
  font-size: 30px;
}

/* Buttons */
.quiz-control button {
  border: none;
  background-color: #38a9af;
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  display: block;
  height: 80px;
  width: 175px;
  border-radius: 3%;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: Open Sans Extra Bold, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

#restartQuiz {
  font-size: 30px;
  text-align: center;
  background-color: green;
  color: white;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid greenyellow;
}

#startQuiz {
  border: none;
  background-color: green;
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  display: block;
  height: 80px;
  width: 350px;
  border-radius: 3%;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

#submitAnswer {
  border: none;
  background-color: green;
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  display: block;
  height: 80px;
  width: 350px;
  border-radius: 3%;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

#next-button {
  border: none;
  background-color: #38a9af;
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  display: block;
  height: 80px;
  width: 175px;
  border-radius: 3%;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

.feedback-page {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.feedback-page h2 {
  color: white;
  text-align: center;
}

.feedback-page h3 {
  color: white;
  text-align: center;
}

form {
  text-align: left;
  padding-top: 20%;
}

label {
  display: block;
  position: relative;
  margin-bottom: 2px;
  padding: 15px 30px 15px 62px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #585858;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, box-shadow 0.2s;
}

label:hover,
label:focus {
  background-color: gray;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: 2px solid #ffffff;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
input:checked {
  border: 8px solid yellowgreen;
}
input[type="radio"] {
  flex: 0 0 auto;
  margin-right: 30px;
}

input {
  margin-top: 5px;
}

fieldset {
  border: 0;
}

/* Media Query */
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .logo {
    padding-bottom: 6%;
  }

  fieldset,
  .quizStart {
    width: 95%;
    margin-bottom: 100px;
  }

  fieldset {
    width: 100%;
    padding: 20px;
    margin-top: 0;
  }

  legend {
    text-align: center;
    width: 100%;
    font-size: 15px;
  }

  main,
  h1 {
    font-size: 32px;
    padding-top: 8%;
  }

  #startQuiz {
    width: 200px;
  }

  label {
    font-size: 28px;
    padding: 15px;
    margin-bottom: -7px;
  }

  #submitAnswer {
    width: 200px;
  }

  #submitAnswer {
    margin-bottom: -15%;
    margin-top: -20%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1190px) {
}
